:root {
  --primary-color: #859ab3;
  --secondary-color: #d0dae6;
  --font-color: #2E5475;
  --bar-color: #336c95;
  --darkest-color: #294965;
  --transluscent-color: rgba(208, 218, 230, .6)
}

[data-theme="dark"] {
  --primary-color:  #eebe5e;
  --secondary-color: #f4eadc;
  --font-color: #92461b;
  --bar-color: #d69c33;
  --darkest-color:  #5b2a0e;
  --transluscent-colot: rgba(238, 190, 94, .6)
}



h1 {
  text-align: center;
  color: var(--font-color);
  font-size: 50px;
}

/*Big Stuff*/
body {
  background-color: var(--secondary-color);
  margin: 0;
}

#app {
  margin-top: 50px;
  font-family: 'Playfair Display', serif;
  /* background-color: #d0dae6; */
}

#overviewparent {
  background-color: var(--primary-color);
  padding-top: 30px;
  padding-bottom: 30px
}

.Overview {
  display: inline-grid;
  width: 90%;
  height: 800px;
  grid-template-columns: repeat(5, 20%);
  grid-template-rows: repeat(4, 25%);
  min-width: 1000px;
  margin-left: 80px;
  margin-top: 50px;
  color: var(--font-color)

}

/*------------------------------------------------------*/

/*Top half*/

.ExtendedViewParent {
  grid-column: 1 / span 5;
  grid-row: 1 / span 3;
  display: grid;
  grid-template-columns: 30% 10% 10% 25% 25%;
  grid-template-rows: repeat(3, 33%);
}

/*Image Gallery Part*/

.ImageGallery {
  /*border: 5px solid blue;*/
  grid-column: 1 / span 3;
  grid-row: 1 / span 3;
  background-color: var(--primary-color);
  position: relative;
  margin-right: 30px;
  /*box-shadow: 5px 5px 45px 1px;*/
  max-width: 700px;
  max-height: 700px;
  border-radius: 10px

}

.mainimg {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  border-radius: 10px
  /*grid-column: 1 / span 5;*/
}

/*thumnail carousel*/

.thumbnails {
  height: 100%;
  width: 20%;
  position: absolute;
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: column;
  margin-left: 10px;
  overflow: hidden;
  max-width: 125px;
  align-items: center;
  justify-content: center;
  background-color: var(--transluscent-color);
  justify-content: space-evenly;
}

.thumbnails img {
  height: 75px;
  width: 75px;
  object-fit: cover;
  margin: 2px;
}

.theChosenOne {
  box-shadow: 5px 5px 5px
}

/*buttons*/

.fa-regular {
  font-size: 30px;
  color: var(--darkest-color);
}

.forwardArrow {
  position: absolute;
  right: 5px;
  bottom: 50%;
}

.backArrow {
  position: absolute;
  left: 135px;
  bottom: 50%;
}

.fa-expand {
  font-size: 30px;
  color: var(--darkest-color);
  position: absolute;
  right: 5px;
  top: 5px
}

/*Expanded View*/

.fa-minimize {
  font-size: 30px;
  color: var(--darkest-color);
  position: absolute;
  right: 5px;
  top: 5px
}


.ImageGalleryExpanded {
  grid-column: 1 / span 5;
  grid-row: 1 / span 3;
  max-width: 100%;
  transition: all 1s
}

/*--------------------------------------------------*/
/*Non-image gallery*/

.allProductStuff {
  grid-column: 4 / span 2;
  grid-row: 1 / span 3;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: repeat(5, 20%);
  background-color: var(--secondary-color);
  /*box-shadow: 5px 5px 45px 1px;*/
  padding: 20px;
  border-radius: 3%;
}

/*Product info*/

.ProductInfo {
  /*border: 5px solid rgb(247, 247, 161);*/
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

/*Star ratings*/

#OverviewStarRatings {
  grid-column: 1 / span 2;
  grid-row: 1 / span 1;
}

.ProductInfo a {
  font-size: 24px
}

/*Social Media*/

.SocialMedia {
  grid-column: 3 / span 2;
  grid-row: 1 / span 1;
  display: flex;
  margin: 5px;
  justify-content: space-around;
  font-size: 30px
}

.Details {
  grid-column: 1 / span 3;
  grid-row: 2 / span 4;
  display: grid;
  grid-template-rows: repeat(5, 20%)
}

.productCategory {
  font-size: medium;
  /*border: 5px dotted blue;*/
  grid-row: 1 / span 1
}

.productName {
  font-size: 40px;
  font-weight: 700;
  grid-row: 2 / span 3;
  color: var(--darkest-color);
}

.productPrice, #salePrice {
  font-family: Playfair-Display;
  font-size: medium;
  grid-row: 5 /span 1
}

.oldPrice {
  font-family: Playfair-Display;
  font-size: medium;
  text-decoration: line-through;
  color: var(--primary-color);
  grid-row: 5 / span 1;
  padding-left: 10px;
}

/*.stylename {
  color: #336c95;
}*/

/*Style Selector*/

.StyleSelector {
  grid-column: 1 / span 2;
  grid-row: 3 / span 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  overflow: hidden;
  width: 400px;
  margin-top: 5px;
  margin-bottom: 5px;
  height: 200px
}

.StyleSelector img {
  border-radius: 50%;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.StyleSelector div {
  height: 80px;
  width: 80px
}

.styleIcon {
margin: 10px
}

i.fa-solid.fa-circle-check {
  position: relative;
  bottom: 90px
}

/*Add to cart*/

.AddToCart {
  grid-column: 1 / span 2;
  grid-row: 5 / span 1;
  font-size: 10px;
  font-weight: 500;
  display: grid;
  grid-template-columns: repeat(5, 20%);
  grid-template-rows: 1fr 1fr;
  height: 100%;
}

.size {
  grid-row: 1 / span 1;
  grid-column: 1 / span 3;
  border: 3px solid var(--bar-color);
  margin: 5px;
  /*font-family: 'Playfair Display', serif;*/
  font-weight: 600;
}

.quantity {
  grid-row: 1 / span 1;
  grid-column: 4 / span 2;
  border: 3px solid var(--bar-color);
  margin: 5px;
  /*font-family: 'Playfair Display', serif;*/
  font-weight: 600;
}

.AddToCart button {
  grid-row-start: 2;
  grid-column: 1 / span 5;
  background-color: var(--primary-color);
  border: 3px solid var(--bar-color);
  font-size: 18px;
  margin: 5px;
  font-weight: 500;
  /*font-family: 'Playfair Display', serif;*/
  font-weight: 600;
}

/*----------------------------------------------*/

/*Description*/

.overviewDescription {
  grid-row-start: 4;
  grid-column: 1 / span 5;
  padding: 20px;
  font-size: 20px;
  font-weight: 400px;
  display: grid;
  grid-template-columns: 75% 25%;
  background-color: var(--secondary-color);
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px

}

#slogan {
  font-size: 25px;
  font-weight: 800px;
  font-style: italic;
  grid-column: 1 / span 1
}

#description {
  grid-column: 1 / span 1
}

#features {
  grid-column-start: 2;
  grid-row: 1 / span 2;
  border-left: 3px solid var(--bar-color);
  padding-left: 15px;
  line-height: 45px
}

/*etc.*/

.thumbnails img:hover, .StyleSelector img:hover, .fa-regular:hover, .fa-expand:hover, .fa-minimize:hover {
  cursor: pointer
}