
/* #app {
  font-family: "adobe-clean", sans-serif;

} */
/*==============================
  Reviews
==============================*/

.reviewsparent {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  margin: 50px auto;
  /* border: 1px solid grey; */
  width: 80%;
  height: 650px;
  padding: 10px;
}

/*==============================
  Review Meta
==============================*/

.reviewsmeta {
  align-items: center;
  /* border: 1px solid black; */
  min-width: 250px;
  justify-content: center;
  order: 1;
  flex-grow: 1;
}

.ratingaverage {
  font-weight: bold;
  font-size: 35px;
}

/*==============================
  Review List
==============================*/

.reviewlistparent {
  flex-grow: 3;
  order: 2;
  margin: 0 5px;
}

.sortandsearchparent {
  display: flex;
  /* border: 1px grey; */
  /* border-style: solid; */
  height: 30px;

}

.sort {
  /* border: 1px solid black; */
  flex: 1;
  font-size: 15px;
  font-weight: bold;
  margin: 2px;
}

.reviewsearchparent {
  /* border: 1px solid black; */
  flex: 1;
  margin: 2px;
  width: 100px;
}

#reviewsearch {
  width: 70%;
}

#reviewbuttons {
  display: flex;
  justify-content: left;
}

#morereviews {
  height: 50px;
  width: 200px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bolder;
  background-color: white;
}

#addreviewbutton {
  height: 50px;
  width: 200px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bolder;
  background-color: white;
}
/*==============================
  Review Tile
==============================*/

.reviewtileparent {
  display: flex;

  height: 590px;
  flex-direction: column;
  overflow-y: scroll;
  width: auto;
}

.reviewtileparent::-webkit-scrollbar {
  display: none;
}

#reviewtile {
  display: flex;
  width: 100%;
  border-bottom: 1px solid grey ;
  min-height: 280px;
  overflow-y: auto;
  order: 2;
  padding: 0;
}

#reviewtile::-webkit-scrollbar {
  display: none;
}


.reviewsummary {
  font-weight: bold;
  font-size: 18px;
  width: 100%;
  margin:  15px 0 10px;
}

.reviewtilewidth {
  width: 100%;
  padding: 10px;

}

.reviewphotoparent {
  width: 100%;
  display: inline-grid;
  grid-template-columns: repeat(5, 15%);
  margin: 20px 0;
}

.reviewimage {
  object-fit: cover;
  width: 50px;
  max-height: auto;
}

#starsanduser {
  display: flex;
  height: 30px;
  justify-content: space-between ;

}

.userdate {
  font-size: 10px;
}

hr.divider {
  border-top: 3px solid black;
}

/* =====================
Helpful / Report
=======================*/

.markreview {
  display: flex;
  justify-content: flex-start ;

}

.helpful {
  margin: 0 5px;
}
.report {
  margin: 0 8px;
}



/* =====================
Review Image Modal
=======================*/

.reviewimagemodal {
  box-shadow: 0 8px 6px -6px black;
  border: 1px solid black;
  left: 0%;
  top: 15%;

}

.image {
  width: 600px;
}


/* =====================
Add Review Modal
=======================*/

.addreviewoverlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .7);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.addreviewmodal {
  position: fixed;
  z-index: 20;
  background: #fff;
  width: 650px;
  max-height: 90%;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  box-shadow: 0 8px 6px -6px black;
  border: 1px solid black;
  overflow-y: scroll;
}

.addreviewmodalheader {
  padding: 10px;
  display: flex;
  justify-content: space-between;

}

.addreviewtitle {
  flex-grow: 3;
  padding: 0 20px 0 210px;
  margin: 19px 0 0 0;
}

.addreviewmain {
  padding: 20px 0 0 120px;
  margin: 0;
}

.addreviewsubtitle {
  margin: 0;
  display: flex;
  justify-content: center;
}

.closereviewmodal {
  /* flex-grow:1; */
  border: none;
  background: transparent;
  padding: 10px;
  cursor: pointer;
  color: #000;
  font-size: 36px;
}

.closereviewmodal:hover {
  color: grey;
}

.addreviewstar {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  margin-left: 20px;
}

.on {
  color: #000;
}
.off {
  color: #ccc;
}

#reviewsummarytextbox {

  width: 400px;
}

#reviewbodytextbox {
  height: 100px;
  width: 400px;
}

#characteristics {
  display: grid;
  grid-template-columns: repeat(5, 50px);
  grid-template-rows: 20px;
}



/* =====================
Add Review Image Modal
=======================*/


#reviewphotomodal {
  box-shadow: 0 8px 6px -6px black;
  border: 1px solid black;
  left: 0%;
  top: 15%;
  width: 70%;

}


/* =====================
Meta Star Bars
=======================*/

.starBarsContainer {
  display: grid;
  grid: 50px 180px 30px;
}

.starBars {
  justify-content: center;
}

.starBarsLeft {
  float: left;
  width: 15%;
  margin: 10px 0 0 5px;
}

.starBarsMiddle {
  margin: 15px 0 0 10px;
  float: left;
  width: 70%;
}

.starsBarsRight {
  text-align: left;
  margin: 10px 5px 0 0;
}

.barcontainer {
  width: 150px;
  height: 10px;
  background-color: #f1f1f1;
  text-align: center;
  color: white;
}

.bar5,
.bar4,
.bar3,
.bar2,
.bar1 {
  /* width: 70%; */
  height: 10px;
  background-color: #04AA6D;
}

/* =====================
Characteristics Bars
=======================*/

/* .characteristicscontainer {
  display: grid;
  grid: 50px 180px;
}

.characteristics {
  justify-content: center;
} */


#fit {
  text-align: left;
  margin-left: 10px;
  margin-bottom: 0;
}

.charparent {
  margin: 15px 0 0 10px;
  float: left;
  width: 70%;
}

.charcontainer {
  width: 240px;
  height: 10px;
  background-color: #f1f1f1;
  text-align: center;
  color: white;
  margin-left: 10px;
}

.fit,
.sizechar,
.comfort,
.quality,
.width,
.length {
  /* width: 70%; */
  height: 10px;
  /* background-color: #04AA6D; */
}